@import '960.css';
@import 'bootstrap.css';
@import 'font-awesome.css';
@import 'jquery-ui.css';

#container {
  width: 960px;
  margin: 15px auto;
}

menu {
  margin: 0;
  padding: 0;
}

input[type="text"] {
  margin-bottom: 0;
}

section {
  margin: 5px 0;
  
  ul {
    list-style-type: none;
    margin: 0;
  }
}

.list {
  background: #f9f9f9;
  border: 1px solid #dedede;
  border-radius: 2px;
  list-style-type: none;
  margin: 0;
  overflow: auto;
  padding: 0;

  > * {
    background: #f4f4f4;
    font-size: 12px;
    padding: 2px 5px;
    
    &:nth-child(even) {
      background: #fdfdfd;
    }
    
    &.current {
      color: #3a87ad;
    }
    
    &.selected {
      background: #fcf8e3;
    }
    
    span {
      display: inline-block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    
    .title, .url {
      display: block;
      font-size: 16px;
    }
  }
}

.tree {
  background: #f9f9f9;
  border: 1px solid #dedede;
  border-radius: 2px;
  list-style-type: none;
  margin: 0;
  overflow: auto;
  padding: 0;
  
  .name {
    border-top: 1px solid #fefefe;
    border-bottom: 1px solid #dedede;
    color: #333;
    text-decoration: none;
  }
  
  > * {
    background: #f9f9f9;
    font-size: 14px;
    
    &.selected {
      background: #fcf8e3;
    }
  }
  
  .tree {
    border: 0;
  }
  
  .ui-draggable-dragging {
    width: 300px;
  }
}
.artists > * {
  text-indent: 5px;
}
.albums > * {
  text-indent: 20px;  
  counter-reset: album;
}
.songs > * {
  text-indent: 35px;
}
.songs .name:before {
  counter-increment: album;
  content: counter(album) ". ";
}

.collapsed {
  height: 0;
  visibility: hidden;
}

.frame {
  background: #eee;
  border: 1px solid #dedede;
  border-radius: 3px;
}

.player {
  @extend .frame;
  
  padding: 5px;
  
  .info {
    overflow: hidden;
    
    img {
      border-radius: 5px;
      float: left;
      margin-right: 15px;
    }
  }
  
  menu {
    margin: 10px 0;
  }
  
  button {
    width: 38px;
  }
}

.playlist {
  @extend .frame;
  
  padding: 5px;
  
  &.playlist-drop > .list:after {
    background: rgba(255, 255, 255, 0.6);
    content: "Drop";
    color: #333;
    font-size: 26px;
    line-height: 480px;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  menu {
    height: 30px;
    margin-top: 10px;
  }
  
  > .list {
    height: 480px;
    position: relative;
  }
}

.library {
  @extend .frame;
  
  padding: 5px;
  
  > .tree {
    height: 480px;
  }
  
  menu {
    height: 30px;
    margin-top: 10px;
  }
  
  a {
    display: block;
  }
}
