<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!--<link rel="stylesheet" href="css/normalize.css">-->
    <link rel="stylesheet" href="mpdisco.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
  </head>
  <body>
    <div id="container" role="main"></div>
    
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <script type="text/template" id="layout_template">
      <section id="controls"></section>
      <section id="playlist"></section>
    </script>
    <script type="text/template" id="playlist_template">
      <ul>
        {{#each items}}
          {{#if this.file}}
            <li data-songid="{{id}}">
              {{#if title}}
                <span class="title">{{title}}</span>
                {{#if artist}}<span class="artist">{{artist}}</span>{{/if}}
                {{#if album}}(<span class="album">{{album}}</span>{{#if date}}, <span class="year">{{date}}</span>{{/if}}){{/if}}
              {{else}}
                <span class="url">{{file}}</span>
              {{/if}}
            </li>
          {{/if}}
        {{/each}}
      </ul>
      <menu>
        <input type="text" id="url" name="url" />
        <button class="add btn">Add</button>
        <button class="remove btn pull-right" disabled="disabled">Remove</button>
      </menu>
    </script>
    <script type="text/template" id="controls_template">
      <div class="info">
        <img src="http://placehold.it/100x100" alt="placeholder" />
        <h2>{{title}}</h2>
        <p>{{artist}} - {{album}}</p>
      </div>
      <menu class="controls">
        <button class="prev btn"><i class="icon-step-backward"></i></button>
        <button class="play btn"><i class="icon-play"></i></button>
        <button class="stop btn"><i class="icon-stop"></i></button>
        <button class="next btn"><i class="icon-step-forward"></i></button>
      </menu>
    </script>
    <script src="js/vendor/jquery-min.js"></script>
    <script src="js/vendor/socket.io.js"></script>
    <script src="js/vendor/require.js" data-main="js/app"></script>
  </body>
</html>
