<div id="error"></div>
<section id="library"></section>
<section id="main">
  <div id="player-head">
    <section id="player"></section>
    <section id="user"></section>
    <section id="scrubber"></section>
  </div>
  <div id="player-body">
    <section id="playlist"></section>
    <section id="listeners"></section>
  </div>
</section>