<header>Library</header>
<menu>
  <input type="text" id="search" class="search" placeholder="Search">
</menu>
<div class="content">
  <ul class="artists tree"></ul>
  <ul class="upload"></ul>
  <input type="file" id="fileupload" name="files[]" data-url="upload" multiple="multiple" />
</div>
<div id="overlay"></div>