@import '_variables.scss';

.library-item {
  font-size: 15px;
  overflow: hidden;
  width: 280px;

  .tree {
    overflow: hidden;
  }

  &.dragging {

    .tree {
      border: 0;
    }
  }

  &.open > .name::before {
    /*@extend .icon-caret-down:before;*/
  }

  .name {
    display: block;
    line-height: 32px;
    overflow: hidden;
    padding: 0 15px;
    text-overflow: ellipsis;
    white-space: nowrap;

    &::before {
      /*@extend .icon;*/
      /*@extend .icon-caret-right:before;*/

      margin-right: 2px;
      text-align: center;
      width: 18px;
    }
  }

  &.selected .name,
  .name:hover {
    color: $secondary-color-highlight;
    background: rgba(0, 0, 0, 0.15);
  }

  .albums .name {
    padding-left: 30px;
  }

  .songs {
    counter-reset: album;
    font-size: 12px;

    .name {
      padding-left: 45px;
      line-height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: $left-column-width;

      &::before {
        counter-increment: album;
        content: counter(album) ". ";
        display: inline;
        text-align: left;
      }
    }
  }

  .cover {
    background: $library-darken;
    background-size: cover;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
    width: 22px;
    height: 22px;
  }
}
