@import '_mixins.scss';
@import '_variables.scss';

#player {
  background: url('/images/noise.png') $library-background repeat top left;
  color: #cccbcd;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;

  .image {
    background: #cccbcd;
    background-size: cover;
    cursor: pointer;
    float: left;
    position: relative;
    width: 150px;
    height: 150px;
  }

  .indicator {
    $indicator-size: 120px;

    background: rgba(0, 0, 0, 0.5);
    border-radius: 10%;
    margin: -($indicator-size / 2) 0 0 -($indicator-size / 2);
    opacity: 0;
    width: $indicator-size;
    height: $indicator-size;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: opacity 0.5s;
    z-index: 10;

    &.appear {
      opacity: 1;
      transition: none;
    }

    &::before {
      color: #fff;
      text-align: center;
      font-size: $indicator-size * 0.75;
      width: 100%;
      height: 100%;
      line-height: $indicator-size;
    }
  }

  .info {
    padding: 15px 20px;
    flex: 1 0 auto;

    h1, h2 {
      @extend .slide-over;

      @mixin slide 200px;

      span {
        @extend .ellipsis;
      }
    }

    h1 {
      font-size: 32px;
      margin: 0;
    }

    h2 {
      font-size: 16px;
      font-weight: normal;
      min-height: 18px;
      margin: 8px 0 0 0;
    }

    .duration {
      color: #a0acbf;
      font-size: 32px;
      line-height: 26px;
    }
  }

  .player-controls {

    margin: 8px 0 0 0;

    a {
      color: $secondary-color;
      display: inline-block;
      line-height: 32px;
      margin-right: 10px;
      text-align: center;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
      transition: text-shadow 0.1s ease-in-out, color 0.1s ease-in-out;
      height: 32px;

      &:last-child {
        margin-right: 0;
      }
    }

    a:hover {
      color: $secondary-color-highlight;
    }

    a:active {
      color: $secondary-color-active;
      text-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
    }
  }
}
