@import '_variables.scss';

.playlist-item {
  background: #fff;
  clear: both;
  color: #666;
  counter-increment: playlist;
  display: flex;
  font-size: 12px;
  height: 36px;
  line-height: 13px;
  list-style-type: none;
  padding: 3px;

  &::before, .time {
    color: #d1d1d1;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    height: 30px;
    flex: 0 0 55px;
  }

  &::before {
    content: counter(playlist);
  }

  &.playlist-item-dragging {
    visibility: hidden;
  }

  &.playlist-item-playing {
    color: #3a87ad;
  }

  &.playlist-item-selected {
    background: #fcf8e3;
  }

  &.playlist-item-focus {
    outline: 1px dotted #333;
  }

  p {
    /*extend .ellipsis;*/

    margin: 0;
  }

  span {
    vertical-align: top;
  }

  .image {
    background: #666;
    margin-right: 10px;
    height: 30px;
    flex: 0 0 30px;
  }

  .song {
    flex: 1 1 auto;
  }

  .title, .url {
    display: block;
    font-size: 14px;
    font-weight: bold;
  }

  .title {
    padding: 0;
    text-transform: uppercase;
  }

  .details {
    /*@extend .ellipsis;*/

    margin-top: 5px;
  }
}
