@import '_variables.scss';

#playlist {
  background: #fff;
  counter-reset: playlist;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  position: relative;

  &.playlist-drop > .list {
    box-shadow: 0 0 5px #bbdefb inset;
  }

  header {
    background: #efefef;
    border-bottom: 1px solid #d7d7d7;
    display: flex;

    > span {
      flex: 1 0 auto;
    }
  }

  .playlist-controls {
    flex: 0 0 auto;

    a {
      color: #666;
      display: inline-block;
      text-align: center;
      width: 30px;

      &.disabled {
        color: #ccc;
      }
    }

    a.active {
      color: #0085a3;
      text-shadow: 0 0 2px #00b6e4;
    }

    .separator {
      border-left: 1px solid #c6c6c6;
      display: inline;
      height: 15px;
      margin: 0 5px;
    }

    .remove {
      margin: 0 5px;
    }
  }

  .repeat {
    i {
      position: relative;
    }

    &.active.single i::after {
      background: #00b6e4;
      border-radius: 50%;
      color: #fff;
      content: "1";
      display: block;
      font-size: 7px;
      font-weight: bold;
      line-height: 10px;
      text-align: center;
      position: absolute;
      bottom: -4px;
      right: -4px;
      width: 9px;
      height: 9px;
    }
  }

  .lock {
    background: rgba(255, 255, 255, 0.6);
    color: rgba(0, 0, 0, 0.1);
    font-size: 40px;
    margin-top: $header-height;
    opacity: 0;
    overflow: hidden;
    padding: 50px 0;
    pointer-events: none;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    i {
      color: rgba(0, 0, 0, 0.05);
      font-size: 300px;
      flex: 0 0 auto;
    }

    span {
      display: block;
      text-transform: uppercase;
    }
  }

  &.playlist-disabled .lock {
    opacity: 1;
  }
}
