<button class="close"></button>
<p>Whoops. Looks like something didn't work on my end.</p>
<p>If this keeps happening, please <a href="https://github.com/gerev/mpdisco/issues">let my author know</a>.</p>