<div id="player-head" class="grid_12 alpha omega">
  <section id="player" class="grid_9 alpha"></section>
  <section id="user" class="grid_3 omega"></section>
  <section id="scrubber" class="grid_12 alpha omega"></section>
</div>
<div class="grid_12 alpha omega">
  <section id="library" class="grid_3 alpha omega"></section>
  <section id="playlist"></section>
  <section id="listeners" class="grid_3 alpha omega"></section>
</div>
<div id="error"></div>