<header>
  <div class="button-group pull-right">
    <a class="shuffle" href="#"><i class="icon-random"></i></a>
    <a class="repeat" href="#"><i class="icon-refresh"></i></a>
    <span class="separator"></span>
    <a class="remove disabled" href="#"><i class="icon-trash"></i></a>
  </div>
  <span>Playlist</span>
</header>
<ul class="list"></ul>
<menu>
  <input type="text" id="url" name="url" placeholder="Add a link" />
</menu>