<div class="image play">
  <span class="indicator"></span>
  <img src="http://placehold.it/150x150" alt="placeholder" />
</div>
<div class="info">
  <h1>{{title}}</h1>
  <h2>{{artist}}{{#if album}} - {{album}}{{/if}}</h2>
  <h2 class="duration">{{time time}}</h2>
</div>